.btn-grey {
	color: white;
	background-color: #322D2C;
	padding: 10px 20px;
	border-radius: 5px;
	font-weight: 70px;
	text-decoration: none;
	font-family: 'Roboto', sans-serif; 
	margin-top: 30px;

}

.btn-grey:hover {

	background-color: #5B564B;
}